/*
 * NOTE: This file is meant to be imported inside a .zxc { } block in the widget to sandbox
 * all the style definitions. This also allows to use @extend directive with BS classes in
 * widget's style.
 */

@import "bootstrap/bootstrap";

@include media-breakpoint-up("md") {
  .two-columns-md {
    column-count: 2;

    > * {
      display: initial;
      break-inside: avoid;
    }
  }
}
