/*
 * NOTE: This file is meant to be imported inside a .zxc { } block in the widget to sandbox
 * all the style definitions. This also allows to use @extend directive with BS classes in
 * widget's style.
 */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "variables";

@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities/background";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/text";

@function spacer($size) {
  @return map-get($spacers, $size);
}

* {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  margin-bottom: map-get($spacers, 2);
}

blockquote {
  margin: 0 0 map-get($spacers, 2);
}

section {
  margin-bottom: map-get($spacers, 2);
}

p {
  margin-bottom: map-get($spacers, 2);
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

input[type="text"],
input[type="search"] {
  width: 100%;
  padding: map-get($spacers, 1);
  background-color: $input-bg;
  color: $input-color;
  border: $input-border-width solid $input-border-color;
  line-height: $input-line-height;
}

button:not(.btn) {
  @extend .btn;
  @extend .btn-primary;

  &:active {
    background-color: rgba(0, 0, 0, .2);
  }
}

ul.no-style,
ol.no-style {
  list-style-type: none;
}

li {
  list-style-position: inside;
}

.titlebar {
  @extend .bg-gradient-dark;
  @extend .text-white;
  @extend .text-uppercase;
  @extend .h2;

  padding: map-get($spacers, 1) map-get($spacers, 2);
  margin: 0;
}

.toolbar {
  @extend .bg-gradient-light;
  @extend .p-2;

  border-top: 1px solid $border-light;
  border-bottom: 1px solid $border-light;

  .nav-link {
    color: $body-color;
  }
}

.content {
  padding: map-get($spacers, 1) map-get($spacers, 2);
  margin: 0;
}
