.zxc-sandbox {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  // font-size: 94%;

  body {
    padding: 0 10px;
    margin: 0;
    box-sizing: border-box;
  }

  ul {
    padding-inline-start: 1.5rem;
  }

  table {
    font-size: inherit;
  }

  .btn:focus, .btn.focus {
    outline: 5px auto -webkit-focus-ring-color;
  }

  :focus-visible, .btn:focus-visible {
    outline: 3px solid #000;
    outline-offset: 2px;
    box-shadow: 0 0 0 6px #fff;
  }
}
