
$kifi-orange: #ff6500;
$font-size-base: 0.85rem;

$grid-columns: 4;
$grid-gutter-width: 0;

$grid-breakpoints: (
  xs: 0,
  md: 640px,
  // lg: 800px,
) !default;

$theme-colors: (
  primary: blue,
  secondary: #f5f5f5,
);

@import "base";
